* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.SpaceImpact {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#gameCanvas {
    border: 1px solid;
}